---
name: Build container image

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/build-container-image.yml
      - Containerfile
      - Dockerfile
      - requirements.txt
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-container-image.yml
      - Containerfile
      - Dockerfile
      - requirements.txt

permissions:
  contents: read

jobs:
  build-container-image:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout code
        uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28

      - name: Setup docker
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c

      - name: Build container image
        run: docker buildx build --load .
