---
name: Build container image

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/build-container-image.yml
      - Containerfile
      - Dockerfile
      - requirements.txt
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/build-container-image.yml
      - Containerfile
      - Dockerfile
      - requirements.txt

permissions:
  contents: read

jobs:
  build-container-image:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout code
        uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28

      - name: Setup docker
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

      - name: Build container image
        run: docker buildx build --load .
