---
name: Check yaml syntax

"on":
  push:
    paths:
      - '**.yaml'
      - '**.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**.yaml'
      - '**.yml'

permissions:
  contents: read

jobs:
  check-yaml-syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ebacdc22ef6c2cfb85ee5ded8f2e640f4c776dd5
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
      - uses: actions/setup-python@2c3dd9e7e29afd70cc0950079bde6c979d1f69f9
        with:
          python-version: '3.x'
      - run: pip3 install yamllint
      - run: yamllint --config-file .yamllint.yml .
