---
name: Check yaml syntax

"on":
  push:
    paths:
      - '**.yaml'
      - '**.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**.yaml'
      - '**.yml'

permissions:
  contents: read

jobs:
  check-yaml-syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
      - uses: actions/setup-python@57ded4d7d5e986d7296eab16560982c6dd7c923b
        with:
          python-version: '3.x'
      - run: pip3 install yamllint
      - run: yamllint --config-file .yamllint.yml .
