---
name: Check docker syntax

on:
  push:
    paths:
      - "**/Containerfile"
      - "**/Dockerfile"
      - .github/workflows/check-docker-syntax.yml
    branches:
      - main
  pull_request:
    paths:
      - "**/Containerfile"
      - "**/Dockerfile"
      - .github/workflows/check-docker-syntax.yml

jobs:
  check-docker-syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5
        with:
          dockerfile: Containerfile
          recursive: true
